<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190297759612-0lmfslm640b6srtc7dacv5q78as42b1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190297759612-0lmfslm640b6srtc7dacv5q78as42b1u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>190297759612-5fbk780k7v3tu1om2d7tq31evmqbdte1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCjcchrI6GltWEuhlerFIBby5gRVB-kpHY</string>
	<key>GCM_SENDER_ID</key>
	<string>190297759612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thematrix.mindo.mindo</string>
	<key>PROJECT_ID</key>
	<string>mindo-c6bbe</string>
	<key>STORAGE_BUCKET</key>
	<string>mindo-c6bbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190297759612:ios:4a9da9ea94a1ac3b024ef9</string>
</dict>
</plist>